.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chart-wrapper {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

#chart-area-1 {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0 20% 5% 20%;
}

.graph-svg-component {
  background-color: AliceBlue;
  border: 1px solid grey;
}
